*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

p{
    font-size: 25px;
}


h1{
    font-size: 40px;
}

h3{
    font-size: 25px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: 250px;
}

.logos{
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    justify-content: center;
    align-items: center;
}

.logos img{
   height: 80px;
   width: 150px;
}


.section-1 .picture img{
    width: 100%;
    height: 500px;
}

.section-1{
    width: 100%;
    margin: 40px;
} 

.section-1 .nav-section nav ul li a{
    font-size: 20px;
}


.section-1 .nav-section, .section-1 .middle-part, .special-discount{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



.section-1 .nav-section{
    margin: 60px 80px 35px;
}

.section-1 .middle-part{
    margin: 120px 80px 60px;
}

.section-1  .middle-part .picture a:hover img{
    transform: scale(1.3);
    transition: transform 1.5s;
}

/* .section-1  .middle-part .contents{
    margin: 120px 20px;
} */

.section-1  .middle-part .contents p{
    margin-top: 40px;
}


.section-1 .nav-section nav ul li a{
    text-decoration: none;
    margin-right: 40px;
    color: black;
}

.section-2 .section-title{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 80px;
}

.section-2 .collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 70px;
    grid-column-gap: 30px;
    place-items: center;
    margin-left: 120px;
    margin-right: 60px;
}

.collection-name{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 2px;
    color: rgb(15, 5, 5);
}



.section-2 .collections img{
    width: 90%;
    height: 480px;
}


.far.fa-star{
   font-size: 30px;
}

.rating-value{
    font-size: 30px;
    color: rgb(70, 64, 64);
}

.filled{
    color:goldenrod;
    font-size: 0.8em;
}
.unfilled{
    color: lightgray;
    font-size: 0.8em;
}

.special-discount{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 120px;
}

.special-discount .picture-special-discount img{
    width: 800px;
    height: 500px;
}


.special-discount .content-special-discount{
    
    margin: 120px 20px;
}

.special-discount-title{
    text-align: center;
    margin-bottom: 25px;
}

footer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex-grow: 1;
    margin-top: 40px;
    margin-bottom: 0;
    /* height: 180px; */
    padding-top: 50px;
    background-color: rgb(0, 6, 41);
    color: white;
    text-align: center;
}

.social-media .icon{
    margin-right: 20px;
    height: 400px;
}
.btn{
    height: 60px;
    width: 250px;
    background-color:rgb(97, 104, 167);
    color: white;
    font-size: 20px;
    font-weight: 10px;
    border:1px solid rgb(97, 104, 167);
    border-radius: 15px;
    margin-top: 40px;
}

@media (max-width:992px){
    .section-2 .collections{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media (max-width:668px){
    .section-2 .collections{
        grid-template-columns: repeat(1, 1fr);
    }
}